<cx-storefront>Now Loadind...</cx-storefront>
<!-- <ng-template cxOutletRef="ProductAddToCartComponent">
    <button onclick="alert('You have Clicked Custom Button')">Custom Click Button</button>
</ng-template> -->

<!-- overiding component -->
<!-- <ng-template cxOutletRef="SearchBoxComponent" >
    <button>CLick ME</button>
    <cx-searchbox ></cx-searchbox>
</ng-template> -->
<!-- overiding context -->
<!-- <ng-template [cxOutletRef]="pdOutlet.IMAGES" let-product>
where are my images
{{product|json}}
</ng-template> -->
<!-- <ng-template cxOutletRef="Summary">
    Product Details  
</ng-template> -->